
// COLORS 
$black: #000000;
$white: #ffffff;
$green_btn: #25c405;
$header_bg: #dfdfdf;
$red: #c01a1a;
$silver: #a5a5a5;


// media sizes

$brackpoint-1: 1024px;
$brackpoint-2: 768px;
$brackpoint-3: 480px;
$brackpoint-4: 425px;

